<div class="main">
  <div class="top-container">
    <div class="sub-top-container">
      <div class="main-menu">
        <img
          src="assets/imgs/main-menu.png" class="main-menu-img" width="40px" height="40px"/>
      </div>
      <div class="gmail-img">
        <img src="assets/imgs/gmail_logo.png" width="40px" height="40px" />
        <div class="gmail-caption">
          <figcaption>Gmail</figcaption>
        </div>
      </div>
      <div class="search-container">
        <div class="search-items">
          <img class="search-btn" src="assets/imgs/search.png" width="34px" />
          <input type="search" class="search-bar" placeholder="Search in Emails" [(ngModel)]="searchTerm" (input)="filterEmails()"/>
          <img class="filter-btn" src="assets/imgs/filter.png" width="34px" (click)="filterBtn()"/>
        </div>
      </div>
      <mat-form-field>
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate placeholder="Start date" [(ngModel)]="selectedStartDate" (dateChange)="onDateRangeSelected()">
          <input matEndDate placeholder="End date" [(ngModel)]="selectedEndDate" (dateChange)="onDateRangeSelected()">
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
      
    </div>
  </div>
  <div class="bottom-container">
    <div class="left-container">
      <div class="buttons">
      <button type="button" class="mail-box" (click)="displayTemplate()">
        <img src="assets/imgs/mailbx.png" width="30px" height="30px" />
        <figcaption>Mail</figcaption>
      </button> 
      <ng-container *ngIf="mailTemplate; else noTemplate">
        <ng-template #mailTemplate>
         <!-- <p> Your template content goes here </p> -->
         <div class="template">
            <div class="mail-template">
              <div class="compose">
                <button type="button" class="compose-btn" (click)="compose()">
                  <img src="assets/imgs/compose.png" width="30px" height="30px">
                  <figcaption>Compose</figcaption>
                </button>
              </div>
              <div class="mail-template-bottom">
                <div class="inbox">
                <button type="button" class="inbox-btn" (click)="inboxfunc()" >
                  <img src="assets/imgs/inbox.png" width="30px" height="30px">
                  <figcaption>Inbox</figcaption>
                </button>
              </div>
                <div class="starred">         
                <button type="button" class="starred-btn" (click)="starred()">
                  <img src="assets/imgs/starred.png" width="30px" height="30px">
                  <figcaption>Starred</figcaption>
                </button>
              </div>
                <div class="snoozed">
                <button type="button" class="snoozed-btn" (click)="snoozed()">
                  <img src="assets/imgs/snoozed.png" width="30px" height="30px">
                  <figcaption>Snoozed</figcaption>
                </button>
                </div>
                <div class="sent">
                <button type="button" class="sent-btn" (click)="sent()">
                  <img src="assets/imgs/sent.png" width="30px" height="30px">
                  <figcaption>Sent</figcaption>
                </button>
                </div>
                <div class="draft">
                <button type="button" class="draft-btn" (click)="draft()">
                  <img src="assets/imgs/draft.png" width="30px" height="30px">
                  <figcaption>Draft</figcaption>
                </button>
                </div>
                <div class="more">
                <button type="button" class="more-btn" (click)="more()">
                  <img src="assets/imgs/more.png" width="30px" height="30px">
                  <figcaption>More</figcaption>
                </button>
                </div>
              </div>
              <div class="label" (click)="label()">
                <img src="assets/imgs/label.png" width="30px" height="30px">
                <figcaption>Label</figcaption>
              </div>
            </div>
          </div>
        </ng-template> 
        <div *ngTemplateOutlet = "mailTemplate"></div>
      </ng-container>
      <ng-template #noTemplate></ng-template>
      <button class="chat">
        <img src="assets/imgs/chat.png" width="30px" height="30px" />
        <figcaption>Chat</figcaption>
      </button>
      <button type="button" class="meet" (click)="meet()">
        <img src="assets/imgs/meet.png" width="30px" height="30px" />
        <figcaption>Meet</figcaption>
      </button>
    </div>
    </div>
     <!-- <div class="right-container">
      <div class="from-container">
        <div *ngFor="let email of filteredInbox" class="email-from" [class.bold-text]="!email.read">
          {{ email.from }}
        </div>
      </div>
      <div class="to-container">
        <div *ngFor="let email of filteredInbox" class="email-to" [class.bold-text]="!email.read">
          {{ email.subject }} {{ email.timestamp }} {{ email.mail }}
          <button type="button" class="read-mail" (click)="markAsRead(email)">Read</button>
          <button type="button" class="delete-mail" (click)="delete()">Delete</button>        
        </div>
      </div>
    </div> -->



  <div class="right-container">
      <div *ngFor="let email of filteredInbox" class="email-from" [ngClass]="{'bold-text' :!email.read}">
       <div class="email">
        <div class="from-container">
          {{ email.from }}
        </div>
        <div class="to-container">
          <div class="email-to">
            {{ email.subject }} {{ email.timestamp }} {{ email.mail }}
            <button type="button" class="delete-mail" (click)="delete()">Delete</button>        
            <button type="button" class="read-mail" (click)="markAsRead(email)">Read</button>
          </div>
        </div>
      </div>
    </div>>
  </div>
</div>
</div>
